<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well signup">
      <div class="row text-center">
        <div class="col-md-2 signup-box">
          <h3>Artist Sign Up</h3>
          <p>Sign up for a free account now.</p>
          <div><%= link_to "Sign Up Now!", artist_sign_up_path, class: "btn btn-success btn-lg" %></div>
        </div>
        <div class="col-md-2 signup-box">
          <h3>Label Sign Up</h3>
          <p>Sign up for a free account now.</p>
          <div><%= link_to "Sign Up Now!", label_sign_up_path, class: "btn btn-success btn-lg" %></div>
        </div>
        <div class="col-md-2 signup-box">
          <h3>Fan Sign Up</h3>
          <p>Sign up for a free account now.</p>
          <div><%= link_to "Sign Up Now!", fan_sign_up_path, class: "btn btn-success btn-lg" %></div>
        </div>
      </div>
    </div>
  </div>
</div>
