/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
 margin-bottom: 50px;
}
.navbar {
   background-color: transparent;
   background: transparent;
}

.navbar li { color: #000 } 
.navbar-brand {
  color: #666666;
}

.navbar-nav > li > a {
  color: #666666;
}

.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus {
  color: #cccccc;
  background-color: transparent;
  background: transparent;
}

.alert {
  padding: 15px;
/* margin-bottom: 20px; */
  border: 1px solid transparent;
/* border-radius: 4px; */
  margin-top: 50px;
}

.jumbotron {
  height: 450px;
}

.marketing {
  margin-top: 60px;
}

.devise-form {
  margin-top: 150px;
  margin-bottom: 250px;
}

.signup {
  margin-top: 150px;
  margin-bottom: 250px;
}

.signup-box {
  background-color: #ffffff;
  border-radius: 6px;
  height: 150px;
  width: 45%;
  margin-left: 25px;
}

